
<!--
<div class="col-xs-4 col-md-2">   
    <div class="panel-group" id="accordion">
    
        {% for category_data in accordion_data %}
                    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                <a id="Category_{{ category_data.category }}" class="category" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                    
                    {{ category_data.category }}
                    ({{ category_data.count}})
                
                </a>
                </h5>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div data-item="{{ brand_data.brand_name }}">
                        
                        {% for brand_data in category_data.brands %}
                        
                        <ul>
                            <li>
                                <a id="Category_{{ brand_data.brand_name }}" class="brand" href="#" data-item="{{ brand_data.brand_name }}">
                                
                                    {{ brand_data.brand_name }}
                                    
                                </a>
                            </li>
                        </ul>
                        
                        {% endfor %}
                        
                    </div>      
                </div>      
            </div>    
        </div>
                    
        {% endfor %}

    </div>
</div>
-->

<div class="col-xs-4 col-md-2">   
    <div class="panel-group" id="accordion">
    
        {% for category_data in accordion_data %}
                    
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                <a id="Category_{{ category_data.category }}" class="category" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                    
                    {{ category_data.category }}
                    ({{ category_data.count}})
                
                </a>
                </h5>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div data-item="{{ brand_data.brand_name }}">
                        
                        {% for brand_data in category_data.brands %}
                        <form method="POST" action="{% url 'submit_brand_data' brand_data.brand_name %}">
                            {% csrf_token %}
                            <ul>
                                <li>
                                    <input type="hidden" name="this_brand" value="{{ brand_data.brand_name }}">
                                    <button type="submit" class="btn btn-link btn-primary">
                                        <a id="Category_{{ brand_data.brand_name }}" class="brand" href="#" data-item="{{ brand_data.brand_name }}">
                                            {{ brand_data.brand_name }}
                                        </a>
                                    </button>
                                </li>
                            </ul>
                        </form>
                        {% endfor %}
                        
                    </div>      
                </div>      
            </div>    
        </div>
                    
        {% endfor %}

    </div>
</div>

<script>

  </script>