<div class="col-md-3 mt-2 mb-2">
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link"
              href="{% url 'shop' %}" 
              type="button" 
              >
              All Products
            </a>
          </h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <a class="btn btn-link"
              href="{% url 'shop' %}?brands=All" 
              type="button" 
              >
              All Brands
            </a>
          </h5>
        </div>
    </div>
    <div class="myaccordion" id="accordion">
        {% for category_data in accordion_data %}
        <div class="card">
            <div class="card-header" id="heading{{ category_data.category }}">
                <h5 class="mb-0">
                    <button class="d-flex align-items-center justify-content-between btn btn-link collapsed {% if category_data.category == active_category %}active{% endif %}"
                            data-toggle="collapse"
                            data-target="#collapse{{ category_data.category }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ category_data.category }}">
                            {{ category_data.category }}
                            ({{ category_data.count }})
                        <span class="fa-stack fa-sm">
                            <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
                            <i class="fa {% if category_data.category == active_category %} fa fa-minus {% else %} fa fa-plus {% endif %}" aria-hidden="true"></i>
                        </span>
                    </button>
                </h5>
            </div>
            
            <div id="collapse{{ category_data.category }}" 
                    class="collapse{% if category_data.category == active_category %} show{% endif %} panel-collapse collapse in" 
                    aria-labelledby="heading{{ category_data.category }}" 
                    >
                {% if category_data.brands %}

                <div class="card-body">
                                                
                        {% for brand_data in category_data.brands %}
                        
                        <ul class="list-group list-group-flush ul_content">
                            <li class="list-group-item px-1 text-left">
                                <a id="Category_{{ brand_data.brand_name }}" 
                                    class="btn-sm text-left btn btn-link{% if brand_data.brand_name == active_brand %} active text-danger {% endif %}" 
                                    data-target="{{ brand_data.brand_name }}"
                                    href="{% url 'shop' %}?category={{ category_data.category }}&brand={{ brand_data.brand_name }}"  
                                    >
                                    {{ brand_data.brand_name }}
                                    ({{ brand_data.count }})
                                </a>
                              
                            </li>
                        </ul>
                        {% endfor %}
                     
                </div>
                {% endif %}    
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>
<script>

$("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
  $(e.target)
    .prev()
    .find("i:last-child")
    .toggleClass("fa-minus fa-plus");
});

</script>