{% extends "base.html" %}

{% block title %} Shop {% endblock title %}

{% block content %}

<div class="container mt-2 mb-2">
    <div class="row">

        {% include "shop/accordion.html" %}

        <div class="col-md-9">
            <a class="btn btn-alert navbar-btn text-danger text-black" 
                type="button"  
                href="{% url 'product_detail' pk=product.pk %}?category={{ active_category }}&brand={{ active_brand }}">
                <i class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"> Back</i>
            </a>
            <hr>
                <div class="col">
                
                    <form method="submit" class="post-form needs-validation" enctype="multipart/form-data" id="form" onsubmit="event.preventDefault();">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <h5><b>{{ product.product_name }}<b></h5>
                                <img data-toggle="magnify" src="{{ product.product_image.url }}" class="img-fluid img-rounded mx-auto product_card">
                            </div>

                            <div class="form-group">
                                Qty: 
                                <select id="select_qty_id" class="form-select" aria-label="Default select example">
                                    <option value="1" selected> 1</option>
                                    <option value="2"> 2</option>
                                    <option value="3"> 3</option>
                                    <option value="4"> 4</option>
                                    <option value="5"> 5</option>
                                    <option value="6"> 6</option>
                                    <option value="7"> 7</option>
                                    <option value="8"> 8</option>
                                    <option value="9"> 9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="product_id" value="{{ product.product_name }}">
                        
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input required type="text" class="form-control" id="name" name="name" placeholder=" Your Name">
                        </div>
                        <div class="form-group">
                            <label for="organization">Organization:</label>
                            <input required type="text" class="form-control" id="organization" name="organization"
                                    placeholder="Your Organization">
                        </div>
                    
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input required type="email" class="form-control" id="email" name="email"
                                    placeholder="Your Email Address">
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone:</label>
                            <input required type="tel" class="form-control" id="phone_number" name="phone_number"
                                    placeholder="Your phone/cell number">
                        </div>
                        <div class="form-group">
                            <label for="description">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="2"></textarea>
                        </div>
                        <button type="submit" id="submit_id" class="btn btn-primary">Request a Quote</button>
                        <br>
                        <br>
                    </form>
                </div>
            
        </div>
    </div>
</div>

<script>

$(document).on('submit', function(e){

    e.preventDefault();
    startSpinner();
    $.ajax({

        type: 'POST',
        url: '{% url "send_a_quote" %}',
        data: {

            name: $('#name').val(),
            organization: $('#organization').val(),
            email: $('#email').val(),
            message: $('#message').val(),
            phone_number: $('#phone_number').val(),
            product_name: $('#product_id').val(),
            qty: $('#select_qty_id').val(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: 'post'
        },
    
        success: function(json){
            console.log(json)
            window.location.replace("{% url 'send_a_quote_success' %}");
        },

        error: function(xhr, errmsg, err){
            console.log(errmsg)
            window.location.replace("{% url 'send_a_quote_failed' %}");
        },
    
    })
    .always(function(dataOrjqXHR, textStatus, jqXHRorErrorThrown) {           
        // do when complete, even on error            
        // stop the spinner
        stopSpinner(); 
    });

})

function startSpinner() {
    
    $("input").attr("disabled", "disabled");
    $("#submit_id").prop("disabled", true);
    $("#submit_id").html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Sending...`
    );
}

function stopSpinner() {
    
    $("input").removeAttr("disabled");
    $("#submit_id").prop("disabled", false);
    $("#submit_id").html('Submit');
}



</script>

{% include "footer.html" %}

{% endblock %}