{% extends "./base.html" %}


{% load static %}

{% block content %}

<hr>
<div class="mt-md-4">
<div class="container">
    <div class="row">

        {% include "./accordion.html" %}

        <div class="col-xs-12 col-md-8">

            <button id="all_brands" class="all_brands"> All Brands </button>
            <a href="#" id="all_products" class="all_products"> All Products </a>
            <div class="album py-1 bg-light">
                
                <!--<div class="pb-3 h5"> All Brands </div>-->
                
                <hr>
                <div id="universal_container" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        
                {% for product in brand_products %}
                    {% if forloop.counter0|divisibleby:5 and not forloop.first %}
                        <div class="w-100"></div>
                    {% endif %}
    
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="img-fluid" alt="Responsive image" src="{{product.product_image.url}}">
                            <div class="card-body">
                                <a id="#">{{ product.product_name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<div class="row" id="product-container"></div>
</div>
</div>




