{% extends "base.html" %}

{% load static %}

{% block content %}

<style>

    body{
        background-color: gray;
    }

</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
            <br><br>
            <h5><strong> Oops, there was a problem a quote to us! Please try again. </strong></h5>
            <br>
        </div>
    </div>
</body>

{% include "footer.html" %}
{% endblock %}