asgiref==3.6.0
Django==4.1.6
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-mathfilters==1.0.0
django-phonenumber-field==7.1.0
django-phonenumbers==1.0.1
django-six==1.0.5
django-utils-six==2.0
gunicorn==20.1.0
jmespath==1.0.1
phonenumbers==8.13.11
Pillow==9.4.0
sqlparse==0.4.3
