<!--<footer class="bg-primary text-center text-lg-start mt-auto">-->
    <footer class="footer bg-dark text-center text-lg-start mt-auto">
        <!-- Grid container -->
        <div class="container py-3">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0 text-dark d-flex justify-content-between"><b> CGN </b></h5>
              <br>
              <ul class="list-unstyled mb-0" style="font-size:12px">
                <li>
                  <a href="#!" class="text-dark d-flex justify-content-between">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-dark d-flex justify-content-between">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-dark d-flex justify-content-between">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-dark d-flex justify-content-between">Link 4</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-dark mb-0 d-flex justify-content-between"><b> Quick Links: </b></h5>
              <br>
              <ul class="list-unstyled" style="font-size:12px">
                <li>
                  <a class="d-flex justify-content-between text-danger text-black" type="button" href="{% url 'home' %}" >Home</a>
                </li>
                <li>
                  <a class="d-flex justify-content-between text-danger text-black" type="button" href="{% url 'shop' %}" >shop</a>
                </li>
                <li>
                  <a class="d-flex justify-content-between text-danger text-black" type="button" href="{% url 'contact_us' %}" >Contact Us</a>
                </li>
                <li>
                  <a class="d-flex justify-content-between text-danger text-black" type="button" href="#!" >About Us</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-dark">
              <h5 class="text-uppercase mb-0 text-dark d-flex justify-content-between"><b> CONNECT WITH US: </b></h5>
              <br>
              <p class="text-left" style="font-size:12px">
                Address: W3, Sybu Warehouse, Cansaga, Tayud, Consolacion Cebu, 6001
                <br>
                Phone: 032 - 8888443
                <br>
                Mobile: 0933-0597574
                <br>
                Email: cgn.mktg@gmail.com
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0 text-dark d-flex justify-content-between"><b> ABOUT US: </b></h5>
              <br>
              <ul class="list-unstyled" style="font-size:12px">
                <li>
                  <a href="#!" class="d-flex justify-content-between text-danger text-black">Company Profile</a>
                </li>
                <li>
                  <a href="#!" class="d-flex justify-content-between text-danger text-black">Mission</a>
                </li>
                <li>
                  <a href="#!" class="d-flex justify-content-between text-danger text-black">Vision</a>
                </li>
                <li>
                  <a href="#!" class="d-flex justify-content-between text-danger text-black">Company Details</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          CGN
        </div>
        <!-- Copyright -->
    </footer>